[Desktop Entry]
Encoding=UTF-8
Name=eeic2019名簿作成フォーム（回答） - Google スプレッドシートへのリンク
Type=Link
URL=https://docs.google.com/spreadsheets/d/1G9DCWqtQr3Tf6hya2bkfTnYi-KeLhpgzgX0aLrCAoOs/edit#gid=432863005
Icon=text-html
