body {
-webkit-text-size-adjust: 100%;
background-color: #f3f3f3;
width:100%;
margin-right: auto;
margin-left : auto;
text-align:center;
font-family: "Noto Sans JP";
}

.circ{
  position:absolute;
  margin-right: auto;
  margin-left : auto;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  position:absolute;
}

.logo{
  top: -120px;
left: 0;
right: 0;
bottom: 0;
  margin: auto;
  width = 15%;
  position:absolute;
}

body>h1{
  font-size:40pt;
  color:#4a4a4a;
  margin-bottom:500px;
  margin-top:400px;
}
.icon{
;
  text-align: center;
  width: 50%;
  border-radius: 50%;
}

.name{
  margin:10px auto;
  text-align:center;
  font-size:250%;
  color:#4a4a4a;
  background-color: #ffcd38;
  font-weight:800;
}

.nickname{
  text-align:center;
  margin-top:45px;
  font-size:200%;
  font-weight: 600;
  color:#ffcd38;
}

.message{
  width:80%;
  text-align:center;
  margin-right: auto;
  margin-left : auto;
  margin-bottom: 300px;
  margin-top: 50px;
  font-weight:600;
  font-size:120%;
  color:#4a4a4a;
}
